<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.craftbid.craftbid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CraftBid">
        <activity android:name=".OffersActivity"/>
        <activity android:name=".NotificationsActivity"/>
        <activity android:name=".CustomerProfilePrivate" />
        <activity android:name=".EditListingActivity" />
        <activity android:name=".CreatorProfilePrivate" />
        <activity android:name=".CreateListingActivity" />
        <activity android:name=".RewardsCreatorActivity" />
        <activity android:name=".RewardsCustomerActivity" />
        <activity android:name=".CreatorProfile" />
        <activity android:name=".SignupCreatorActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupCustomerActivity" />
        <activity android:name=".CustomerProfile" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".PurchaseActivity"/>
        <activity android:name=".EvaluationActivity"/>
        <activity android:name=".CreateRewardActivity"/>
        <activity android:name=".MakeOfferActivity"/>
        <activity android:name=".ListingPublicActivity"/>
        <activity android:name=".ListingPrivateActivity"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

</manifest>